flask>=3.0
flask-cors>=4.0
gunicorn>=21.2
PyJWT>=2.8
requests
truststore>=0.10
reportlab>=4.0
pypdf>=4.0
cryptography>=42.0
psycopg2-binary>=2.9
numpy>=1.24
neo4j>=5.0
sentry-sdk[flask]>=2.0
beautifulsoup4>=4.12
igraph>=0.11.9
leidenalg>=0.10.2
